body {
    font-family: sen;
  }
  div.cardDetailProduk{
      align-items:center; 
    border: 0px solid #FFFF;
      margin-top:100px;
      margin-left: 20px;
  }
  div.col-md-4{
    background: rgba(131, 126, 217, 0.25);
    0.25);
    border-radius: 5px 0px 0px 5px;
      display: flex;
      align-items:center;
  }
  p.harga{
      font-size:25px;
      margin-bottom: 0px;
  }
  .card-body img{
      margin-top:0px;
      width:100px;
  }
  .spesifikasi p{
      border: 1px solid #6157FF;
      border-radius: 15px;
      width: 100px;
      text-align: center;
      margin-top:30px;
  }
  div.detailspek{
      display:flex;
      flex-direction: column;
  }
  div.review{
    background: rgba(174, 136, 255, 0.92);
    border-radius: 30px 30px 0px 0px;
    width : 100%;
    height: auto;
    margin-top: 50px;
    padding: 30px;
  }
  .judulReview p{
      font-size: 16px;
      color: #fff;
  }
  .isiReview{
    background: #FFFFFF;
    padding: 15px;
    width : 50%;
    border: 1px solid #7B7F82;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .rating img{
      width : 60px;
  }
  .komentar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .isiReview{
      margin-top:10px;
  }
  .tanggal {
      font-size: 12px;
  }

  /* detail mobil */
  .card-text img{
      width : 20px;
  }
