* {
    box-sizing: border-box;
}

.btn {
    border: 0;
}


/* progress bar halaman pesanan */

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 !important;
    
}

#progressbar #step1:before {
    /* content: "1"; */
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important;
}


#progressbar #step2:before {
    /* content: "2"; */
    color: #fff;
    width: 29px;

}

#progressbar #step3:before {
    /* content: "3"; */
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64 ;
    border-radius: 50%;
    margin: auto;
}

 #progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
} 

#progressbar li:nth-child(2):after {
    left: 50%;
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
}
#progressbar li:nth-child(3):after {
    left: 25% !important;
    width: 50% !important;
}

#progressbar li:nth-child(4):after {
    left: 0% !important;
    width: 50% !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9; 
}#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 !important;
    
}

#progressbar #step1:before {
    content: "1";
    color: transparent;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important;
}


#progressbar #step2:before {
    content: "2";
    color: transparent;
    width: 29px;

}

#progressbar #step3:before {
    content: "3";
    color: transparent;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
}

#progressbar #step4:before {
    content: "4";
    color: transparent;
    width: 29px;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64 ;
    border-radius: 50%;
    margin: auto;
}

 #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
} 

#progressbar li:nth-child(2):after {
    left: 50%;
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
}
#progressbar li:nth-child(3):after {
    left: 30% !important;
    width: 100% !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9; 
}

/* progress bar halaman pesanan */

/* Halaman admin bagian produk */

.menu-list {
    width: 100%;
    padding: 3% 0 3% 15%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #350261;
    font-weight: 500;
}

.menu-list.active, .menu-list:hover {
    background-color: #350261 !important;
    color: white;
}

.menu-list__icon {
    margin-right: 10%;
    width: 15%;
}

/* Halaman admin bagian produk */

.hyperlink:hover {
    border-bottom: 1px rgb(0, 89, 255) solid;
}


@media screen and (max-width: 768px) {
    .menu-list {
      padding: 3% 0;
      justify-content: center;
    }
    
    .menu-list__icon {
      width: 22%;
    }

    .menu-ul{
        margin-top: 25%;
    }
    
    .menu-list a {
      display: none;
    }
  }