.produk h2{
    margin-top: 100px;
    text-align: center;
}

div.card-group{
    justify-items:center;
    width: 95%;
    border-radius: 15px;
    box-sizing: border-box;
}
      div.produk{
    display:grid;
    justify-items: center;
}
div.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right:0px;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
div.card img{
    padding: none;
    width: 70%;
    border-radius: 15px 15px 0px 0px;
}
img.card-image-top{
  align-items: center;
}
h3.card-title{
    text-align: right;
}

.card-body span{
    margin-top: 45px;
    background: #6157FF;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    color: white;
}
div.p-3 img{
    width: 70%;
    background:none;
}
div.buttonDetail, div.buttonProduk{
    text-align: center;
    margin-top: 10px;
}

.buttonDetail a{
    text-decoration: none;
}

.buttonProduk button{
    text-align: center;
    color: #fff;
    width: 176px;
    height: 39px;
    background: #252525;
    border-radius: 15px;
    border: 0px solid;
}
.buttonProduk button a{
    color: #fff;
    text-decoration: none;
}
button{
    text-align: center;
}
container.gelombang path{
    background:#ae88ff;
    background-size: 100px 100%;
}
div.bgColor{
    margin-top:0px;
    padding-top:0px;
}
.bgColor h2{
    color: #ffffff;
    text-align: center;
}
/* footer */
.footer{
    margin-top: 100px;
    /* padding: 10px; */
    background: linear-gradient(81.85deg, #360363 6.71%, #011846 86.1%);}
    
/* css Page Login */
#colFooter{
    /* width: 350px; */
    background-color:transparent;
    box-shadow: none;
    color: #fff;
    padding : 30px;
}
.wrapper-col-1 h1{
    font-weight:800;
    font-size: 2rem;
}
.wrapper-col-1 p{
    font-size: 14px;
    width : 90%;
    text-align : left;
}
.wrapper-icon img{
    width:25px;
    margin-right: 10px;
}

.wrapper-col-2 {
    width : 250px;
    display: flex;
    flex-direction: column;
    text-align :left;
}
.wrapper-col-2 h1{
    font-weight:500;
    font-size: 1.5rem;
    text-align : left;

}
.wrapper-col-2 p{
    font-size: 14px;
    width : 90%;
    text-align : left;
}
.wrapper-col-3 h1{
    width : 250px;
    font-weight:500;
    font-size: 1.5rem;
    text-align : left;

}
.wrapper-col-3 p{
    font-size: 14px;
    width : 90%;
    text-align : left;
}
.copyright{
    color: #fff;
    text-align : center;
}
/* chat */
.pertanyaan {
    background-color:#AE88FF;
    padding:10px;
    margin: 5px;
    display:inline-flex;
    border-radius: 10px;
}
.jawaban p{
    text-align:right;
    background-color:#D3D3D3;
    padding:10px;
    margin: 5px;
    display:inline-flex;
    border-radius: 10px;

}
.col-md-4 img{
    width: 25px;
    padding-top:5px;
}
.modal-body img{
    width:30%;

}